<div style="text-align: center;">
  <mat-form-field style="width: 800px;">
    <textarea matInput [(ngModel)]="input" placeholder="Place your input here"></textarea>
  </mat-form-field>
</div>

<br>

<div style="text-align: center; margin-bottom: 20px;">
  <button mat-stroked-button color="accent" (click)="part1()">Part 1</button>
  <button mat-stroked-button color="accent" (click)="part2()" style="margin-left: 50px;">Part 2</button>
</div>

<mat-card style="text-align: center;">
  <p style="color:rgba(0,0,0,.54);">Result : </p>{{result}}
</mat-card>
