<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day One
      </mat-panel-title>
      <mat-panel-description>
        The Tyranny of the Rocket Equation
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="1"></app-compute-both-parts>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day Two
      </mat-panel-title>
      <mat-panel-description>
        1202 Program Alarm
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="2"></app-compute-both-parts>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day Three
      </mat-panel-title>
      <mat-panel-description>
        Crossed Wires
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="3"></app-compute-both-parts>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day Four
      </mat-panel-title>
      <mat-panel-description>
        Secure Container
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="4"></app-compute-both-parts>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day Five
      </mat-panel-title>
      <mat-panel-description>
        Sunny with a Chance of Asteroids
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="5"></app-compute-both-parts>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day Six
      </mat-panel-title>
      <mat-panel-description>
        Universal Orbit Map
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="6"></app-compute-both-parts>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day Seven
      </mat-panel-title>
      <mat-panel-description>
        No Title Available
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-compute-both-parts [day]="7"></app-compute-both-parts>
  </mat-expansion-panel>
</mat-accordion>
