/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.snack-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.snack-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

  .snack-error .mat-button {
    background-color: #dc3545;
  }

.errorDialog {
  opacity: 0.9 !important;
  background: #cca300 !important;
}

.infoDialog {
  opacity: 0.9 !important;
  background: #3c9fb0 !important;
}
